<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <main>
        <div>
            <h1>Hola Agustin, Bienvenido</h1>
        </div>
        <div>
            <a href="/proyecto/nuevo">Dar alta de Proyecto</a>
        </div>
        <div>
            <a href="/proyecto_nuevo">Ver lista de proyectos</a>
        </div>
    </main>
</body>
</html>